{% extends "base.html" %}
{%block title %}SmellsPhishy{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="landing page-size">
            <div id="text">
                <h1><b>Suspicious URL?</b></h1>
                <p><b>SMELLSPHISHY</b> can help you identify if the site you are visiting is genuine or <br> 
                not. Get the extension and protect you and your information everywhere!</p>
                <button type="button" class="btn btn-light">Get the Extension</button>
            </div>
        </div>

        <div class="about page-size">
            <h2><b>About</b></h2>
            <div class="about-container">
                <div class="about-content">
                    <div id="logo-img">
                        <img src="../static/images/main-logo.svg">
                    </div>
                </div>
                <div class="about-content">
                    <div class="desc-content">
                        <div class="desc text-wrap text-end">
                            <p><b>SMELLSPHISHY</b> is a new way to detect fake websites that try to steal personal information. It enhances the ability to recognize, and block these malicious websites, even those that are cleverly designed to avoid detection to provide better protection for users against threats. 
                            <br><br>
                            With the vision that started in 2024, four student-developers—Shane Delos Reyes, Jeferson Escueta, Rhabi Mendoza, and Zen Ubungen—pursued and persisted to create an advanced way to protect our information from threat actors. With the aim to contribute to the field of computing, the four student-developers conducted thorough research and study, culminating in the creation of this innovative solution as the very fruit of their bachelor's degree.
                            </p>
                        </div>
                        <div id="chips">
                            <div class="chip">
                                <p>Cybersecurity</p>
                            </div>
                            <div class="chip">
                                <p>Phishing</p>
                            </div>
                            <div class="chip">
                                <p>Machine Learning</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>    
        </div>

        <div class="features page-size">    
            <h2><b>Features</b></h2>
            <div class="feature-container">
                <div class="subtitle text-wrap">
                    <p>SMELLSPHISHY utilizes ensemble machine learning model, Random Forest, allowing effective and efficient classification of URL by analyzing its characteristics. To ensure that it is efficient against carefully crafted phishing URLs attacks, it also employed Genetic Algorithm to simulate the said attacks.</p>
                </div>

                <div class="spec-features">
                    <div class="feat card-group">
                        <div class="card">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>

                <div class="subtitle text-wrap">
                    <p>
                        By utilizing these features and employing the previously mentioned method, SMELLSPHISHY was able to accurately classify 98.2% of the URLs. This proves that augmenting the model with adversarial-phishing examples can efficiently increase classification capabilities of a model.</p>
                </div>
            </div>
        </div>

        <div class="contact-us page-size">
            
        </div>
        
    </div>
{% endblock %}